[submodule "DrawOnYourScreen2"]
	path = DrawOnYourScreen2
	url = git@github.com:quangtrieu1312/DrawOnYourScreen2.git
[submodule "ranger"]
	path = ranger
	url = git@github.com:quangtrieu1312/ranger.git
[submodule "kickstart.nvim"]
	path = kickstart.nvim
	url = git@github.com:quangtrieu1312/kickstart.nvim.git
[submodule "gromit-mpx"]
	path = gromit-mpx
	url = ./gromit-mpx
